APP_NAME=home-miscale
APP_VERSION=2.1.0

LANGUAGE=de
APP_TITLE=⚖ Dashboard Gesundheitsdaten
ATTRIBUTION=Data 2023 provided by Peter Siebler (zeusus.siebler.at)

HOST=0.0.0.0
PORT=5056

MQTT_HOST=
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

MQTT_CLIENT=smdmiscale
MQTT_TOPIC=bodyscale/data
MQTT_STATETOPIC=bodyscale/state
MQTT_LWT=bodyscale/LWT
MQTT_HEARTBEAT=bodyscale/heartbeat
MQTT_KEEPALIVE=60

MQTT_HATOPIC=homeassistant
HAPREFIX=miscale

LOG_LEVEL=INFO
LOG_MODE=console
LOG_FILE=logs/miscale.log
LOG_MAX_BYTES=1000000
LOG_BACKUP_COUNT=3

DB_PATH=data/miscaledata.db
DATA_DIR=data

HA_WEBHOOK_URL=http://<ip:8123
HA_WEBHOOK_ID=miscale

# ----------- KPI Dashboard -----------
KPI_APP_ID=hc_scale
KPI_APP_NAME=Gesundheitsdatem
KPI_ICON=bolt
KPI_URL=http://nuc:5055
